name: Special-rule-update
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  schedule:
    - cron: "20 6,22 * * *"

jobs:
  Update-Special-rule:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Update MyDirect.SERVER.list
        run: |
          if [ -f rules/MyDirect.SERVER.update.list ]; then
            cat rules/MyDirect.SERVER.update.list | while read line; do
              line=$(echo "$line" | tr -d '\r' | xargs)
              if [ -n "$line" ]; then
                if [[ "$line" == \#* ]]; then
                  continue
                fi
                if [[ "$line" =~ ^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$ ]]; then
                  echo "IP-CIDR,$line/32,no-resolve" 
                elif [[ "$line" =~ ^[a-zA-Z0-9.-]+$ ]]; then
                  echo "DOMAIN,$line"
                else 
                  echo "IP-CIDR6,$line/128,no-resolve" 
                fi
              fi
            done | sort -t, -k1,1 > rules/MyDirect.SERVER.list.new
            mv -f rules/MyDirect.SERVER.list.new rules/MyDirect.SERVER.list
            rm -rf rules/MyDirect.SERVER.update.list
          else
            echo "MyDirect.SERVER.update.list not found, skipping..."
          fi
          
      - name: Get MyDirect rules
        run: |
          cat rules/MyDirect.MANUAL.list rules/MyDirect.SERVER.list > rules/MyDirect.list.new
          mv -f rules/MyDirect.list.new rules/MyDirect.list
          
      - name: Update MyReject.list
        run: |
          if  curl -f -s -o rules/pcdn.txt https://raw.githubusercontent.com/privacy-protection-tools/anti-AD/refs/heads/master/discretion/pcdn.txt && [[ -s rules/pcdn.txt ]]; then
            cat rules/pcdn.txt | while read line; do
              line=$(echo "$line" | tr -d '\r' | xargs)
              if [ -n "$line" ]; then
                if [[ "$line" == \#* ]]; then
                  continue
                fi
                if [[ "$line" =~ ^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$ ]]; then
                  echo "IP-CIDR,$line/32,no-resolve" 
                elif [[ "$line" =~ ^[a-zA-Z0-9.-]+$ ]]; then
                  echo "DOMAIN,$line"
                else 
                  echo "IP-CIDR6,$line/128,no-resolve" 
                fi
              fi
            done | sort -t, -k1,1 > rules/pcdn.list
            echo >> rules/pcdn.list
            cat rules/MyReject.MANUAL.list rules/pcdn.list > rules/MyReject.list.new
            mv -f rules/MyReject.list.new rules/MyReject.list
            rm -rf rules/pcdn.list rules/pcdn.txt
          else
            echo "Failed to download or empty pcdn.txt, exiting."
          fi
          
          
      - name: Download MyProxy rules
        run: |
          if  curl -f -s -o rules/app/Docker.list https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Docker/Docker.list && [[ -s rules/app/Docker.list ]]; then
            if  curl -f -s -o rules/app/Github.list https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/GitHub/GitHub.list && [[ -s rules/app/Github.list ]]; then
              echo >> rules/app/Docker.list
              echo >> rules/app/Github.list
              cat rules/app/Docker.list rules/app/Github.list rules/MyProxy.MANUAL.list > rules/MyProxy.list.new
              mv -f rules/MyProxy.list.new rules/MyProxy.list
              rm -f rules/app/Github.list
            else
            echo "Failed to download or empty Github.list, exiting."
            fi
            rm -f rules/app/Docker.list
          else
            echo "Failed to download or empty Docker.list, exiting."
          fi

      - name: Download Bing and MicrosoftCopilot rules
        run: |
          if  curl -f -s -o rules/app/Copilot.list https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Copilot/Copilot.list && [[ -s rules/app/Copilot.list ]]; then
            echo "DOMAIN,designer.microsoft.com" >> rules/app/Copilot.list
            echo "DOMAIN-SUFFIX,githubcopilot.com" >> rules/app/Copilot.list
            echo "DOMAIN,copilot-telemetry.githubusercontent.com" >> rules/app/Copilot.list
            echo "DOMAIN-SUFFIX,copilot-telemetry.githubusercontent.com" >> rules/app/Copilot.list
            echo >> rules/app/Copilot.list
            if  curl -f -s -o rules/app/Bing.list https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Bing/Bing.list && [[ -s rules/app/Bing.list ]]; then
              echo >> rules/app/Bing.list
              if  curl -f -s -o rules/app/Edge.list https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/MicrosoftEdge/MicrosoftEdge.list && [[ -s rules/app/Edge.list ]]; then
                echo >> rules/app/Edge.list
                cat rules/app/Copilot.list rules/app/Bing.list rules/app/Edge.list > rules/app/BingMSCopilot.list.new
                mv -f rules/app/BingMSCopilot.list.new rules/app/BingMSCopilot.list
                rm -f rules/app/Edge.list
              else
                echo "Failed to download or empty Edge.list, exiting."
              fi
              rm -f rules/app/Bing.list
            else
              echo "Failed to download or empty Bing.list, exiting."
            fi
            rm -f rules/app/Copilot.list
          else
            echo "Failed to download or empty Copilot.list, exiting."
          fi

      - name: Download Game rules
        run: |
          if  curl -f -s -o rules/app/Game.list.new https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Game/Game.list && [[ -s rules/app/Game.list.new ]]; then
            mv -f rules/app/Game.list.new rules/app/Game.list
          else
            echo "Failed to download or empty Game.list, exiting."
          fi

      - name: Download GameDLCN rules
        run: |
          if  curl -f -s -o rules/app/SteamCN.list https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/SteamCN/SteamCN.list && [[ -s rules/app/SteamCN.list ]]; then
            if curl -f -s -o rules/app/GameDownloadCN.list https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Game/GameDownloadCN/GameDownloadCN.list && [[ -s rules/app/GameDownloadCN.list ]]; then
              echo >> rules/app/SteamCN.list
              echo >> rules/app/GameDownloadCN.list
              cat rules/app/SteamCN.list rules/app/GameDownloadCN.list rules/app/GameDLCN.MANUAL.list > rules/app/GameDLCN.list.new
              mv -f rules/app/GameDLCN.list.new rules/app/GameDLCN.list
              rm -f rules/app/GameDownloadCN.list
            else
              echo "Failed to download or empty GameDownloadCN.list, exiting."
            fi
            rm -f rules/app/SteamCN.list
          else
            echo "Failed to download or empty SteamCN.list, exiting."
          fi

      - name: Download GameDL rules
        run: |
          if  curl -f -s -o rules/app/GameDL.list.new https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Game/GameDownload/GameDownload.list && [[ -s rules/app/GameDL.list.new ]]; then
            mv -f rules/app/GameDL.list.new rules/app/GameDL.list
          else
            echo "Failed to download or empty GameDownload.list, exiting."
          fi

      - name: Download USAPP rules
        run: |
          if  curl -f -s -o rules/app/TwitterAndX.list https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Twitter/Twitter.list && [[ -s rules/app/TwitterAndX.list ]]; then
            echo >> rules/app/TwitterAndX.list
            if  curl -f -s -o rules/app/GoogleVoice.list https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/GoogleVoice/GoogleVoice.list && [[ -s rules/app/GoogleVoice.list ]]; then
              echo >> rules/app/GoogleVoice.list
              if  curl -f -s -o rules/app/Reddit.list https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Reddit/Reddit.list && [[ -s rules/app/Reddit.list ]]; then
                echo >> rules/app/Reddit.list
                if  curl -f -s -o rules/app/PayPal.list https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/refs/heads/master/rule/Clash/PayPal/PayPal.list && [[ -s rules/app/PayPal.list ]]; then
                  echo >> rules/app/PayPal.list
                  if  curl -f -s -o rules/app/USMedia.list https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/USMedia/USMedia.list && [[ -s rules/app/USMedia.list ]]; then
                    echo >> rules/app/USMedia.list
                    if  curl -f -s -o rules/app/OpenAI.list https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/OpenAI/OpenAI.list && [[ -s rules/app/OpenAI.list ]]; then
                      echo >> rules/app/OpenAI.list
                      if  curl -f -s -o rules/app/Claude.list https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Claude/Claude.list && [[ -s rules/app/Claude.list ]]; then
                        echo >> rules/app/Claude.list
                          if  curl -f -s -o rules/app/Gemini.list https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Gemini/Gemini.list && [[ -s rules/app/Gemini.list ]]; then
                            echo >> rules/app/Gemini.list
                            cat rules/app/TwitterAndX.list rules/app/GoogleVoice.list rules/app/Reddit.list rules/app/PayPal.list rules/app/USMedia.list rules/app/OpenAI.list rules/app/Claude.list rules/app/Gemini.list rules/app/USAPP.MANUAL.list > rules/app/USAPP.list.new
                            mv -f rules/app/USAPP.list.new rules/app/USAPP.list
                            rm -f rules/app/Gemini.list
                          else
                            echo "Failed to download or empty Gemini.list, exiting."
                          fi
                          rm -f rules/app/Claude.list
                        else
                          echo "Failed to download or empty Claude.list, exiting."
                        fi
                        rm -f rules/app/OpenAI.list
                    else
                      echo "Failed to download or empty OpenAI.list, exiting."
                    fi
                    rm -f rules/app/USMedia.list
                  else
                    echo "Failed to download or empty USMedia.list, exiting."
                  fi
                  rm -f rules/app/PayPal.list
                else
                  echo "Failed to download or empty PayPal.list, exiting."
                fi
                rm -f rules/app/Reddit.list
              else
                echo "Failed to download or empty Reddit.list, exiting."
              fi
              rm -f rules/app/GoogleVoice.list
            else
              echo "Failed to download or empty GoogleVoice.list, exiting."
            fi
            rm -f rules/app/TwitterAndX.list
          else
            echo "Failed to download or empty TwitterAndX.list, exiting."
          fi

      - name: Download UKAPP rules
        run: |
          if  curl -f -s -o rules/app/UKMedia.list https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/UKMedia/UKMedia.list && [[ -s rules/app/UKMedia.list ]]; then
            echo >> rules/app/UKMedia.list
            cat rules/app/UKMedia.list rules/app/UKAPP.MANUAL.list > rules/app/UKAPP.list.new
            mv -f rules/app/UKAPP.list.new rules/app/UKAPP.list
            rm -f rules/app/UKMedia.list
          else
            echo "Failed to download or empty UKMedia.list, exiting."
          fi

      - name: Download NorthwestEuropeAPP rules
        run: |
          cp rules/app/NorthwestEurope.MANUAL.list rules/app/NorthwestEurope.list.new
          mv -f rules/app/NorthwestEurope.list.new rules/app/NorthwestEurope.list

      - name: Download JPAPP rules
        run: |
          cp rules/app/JPAPP.MANUAL.list rules/app/JPAPP.list.new
          mv -f rules/app/JPAPP.list.new rules/app/JPAPP.list

      # - name: Download HKAPP rules
      #   run: |
      #     if curl -f -s -o rules/app/HKV4.txt https://ispip.clang.cn/hk_cidr.txt && [[ -s rules/app/HKV4.txt ]]; then
      #       sed -i '/^[0-9.]\+\/[0-9]\+$/!d' rules/app/HKV4.txt
      #       sed -i 's/^/IP-CIDR,/' rules/app/HKV4.txt
      #       sed -i 's/$/,no-resolve/' rules/app/HKV4.txt
      #       echo >> rules/app/HKV4.txt
      #       if curl -f -s -o rules/app/HKV6.txt https://ispip.clang.cn/hk_ipv6.txt && [[ -s rules/app/HKV6.txt ]]; then
      #         sed -i '/^[0-9a-f:]\+\/[0-9]\+$/!d' rules/app/HKV6.txt
      #         sed -i 's/^/IP-CIDR6,/' rules/app/HKV6.txt
      #         sed -i 's/$/,no-resolve/' rules/app/HKV6.txt
      #         echo >> rules/app/HKV6.txt
      #         cat rules/app/HKV4.txt rules/app/HKV6.txt rules/app/HKAPP.MANUAL.list > rules/app/HKAPP.list.new
      #         mv -f rules/app/HKAPP.list.new rules/app/HKAPP.list
      #         rm -f rules/app/HKV4.txt rules/app/HKV6.txt
      #       else
      #         echo "Failed to download or empty hk_ipv6.txt, exiting."
      #       fi
      #     else
      #       echo "Failed to download or empty hk_cidr.txt, exiting."
      #     fi

      - name: Download HKAPP rules
        run: |
          cp -f rules/app/HKAPP.MANUAL.list rules/app/HKAPP.MANUAL.list.new
          mv -f rules/app/HKAPP.MANUAL.list.new rules/app/HKAPP.list

      - name: Download eBay rules
        run: |
          if  curl -f -s -o rules/app/eBay.list.new https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/eBay/eBay.list && [[ -s rules/app/eBay.list.new ]]; then
            echo "DOMAIN-KEYWORD,ebay" >> rules/app/eBay.list.new
            echo "DOMAIN-KEYWORD,e-bay" >> rules/app/eBay.list.new
            echo "DOMAIN-SUFFIX,perfdrive.com" >> rules/app/eBay.list.new
            echo "DOMAIN-SUFFIX,forter.com" >> rules/app/eBay.list.new
            echo "DOMAIN-KEYWORD,forter" >> rules/app/eBay.list.new
            mv -f rules/app/eBay.list.new rules/app/eBay.list
          else
            echo "Failed to download or empty eBay.list, exiting."
          fi

      - name: Download Telegram rules
        run: |
          if  curl -f -s -o rules/app/telegramcidr.txt https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/telegramcidr.txt && [[ -s rules/app/telegramcidr.txt ]]; then
            echo "" > rules/app/telegramcidr.list.new
            while IFS= read -r line; 
            do
              ip=$(echo $line | sed "s/  - '//" | sed "s/'//" | sed 's/-//g' | sed "s/'//g"| sed "s/ //g")
              if [[ $ip =~ .*:.* ]]
              then
                echo "IP-CIDR6,$ip,no-resolve" >> rules/app/telegramcidr.list.new
              else
                echo "IP-CIDR,$ip,no-resolve" >> rules/app/telegramcidr.list.new
              fi
            done < <(tail -n +2 rules/app/telegramcidr.txt)
            mv -f rules/app/telegramcidr.list.new rules/app/telegramcidr.list
            sed -i '/^$/d' rules/app/telegramcidr.list
            rm -f rules/app/telegramcidr.list.new rules/app/telegramcidr.txt
            if  curl -f -s -o rules/app/telegramdomain.list https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Telegram/Telegram.list && [[ -s rules/app/telegramdomain.list ]]; then
              cat rules/app/telegramcidr.list rules/app/telegramdomain.list > rules/app/telegram.list.new
              mv -f rules/app/telegram.list.new rules/app/telegram.list
              rm -f rules/app/telegramcidr.list rules/app/telegramdomain.list
            else
              echo "Failed to download or empty telegramdomain.list, exiting."
            fi
          else
            echo "Failed to download or empty telegramcidr.txt, exiting."
          fi

      - name: Download AppleandIcloud rules
        run: |
          if curl -f -s -o rules/app/Apple.list.new https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Apple/Apple.list && [[ -s rules/app/Apple.list.new ]]; then
            mv -f rules/app/Apple.list.new rules/app/Apple.list
          else
            echo "Failed to download or empty Apple.list, exiting."
          fi

      - name: Download Google rules
        run: |
          if curl -f -s -o rules/app/Google.list.new https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Google/Google.list && [[ -s rules/app/Google.list.new ]]; then
            mv -f rules/app/Google.list.new rules/app/Google.list
          else
            echo "Failed to download or empty Google.list, exiting."
          fi

      - name: Download Youtube rules
        run: |
          if curl -f -s -o rules/app/Youtube.list.new https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/YouTube/YouTube.list && [[ -s rules/app/Youtube.list.new ]]; then
            mv -f rules/app/Youtube.list.new rules/app/Youtube.list
          else
            echo "Failed to download or empty Youtube.list, exiting."
          fi

      - name: Download Onedrive rules
        run: |
          if  curl -f -s -o rules/app/OneDrive.1.list https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/OneDrive/OneDrive.list && [[ -s rules/app/OneDrive.1.list ]]; then
            echo >> rules/app/OneDrive.1.list
            if  curl -f -s -o rules/app/OneDrive.2.list https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/refs/heads/master/Clash/OneDrive.list && [[ -s rules/app/OneDrive.2.list ]]; then
              echo >> rules/app/OneDrive.2.list
              cat rules/app/OneDrive.1.list rules/app/OneDrive.2.list > rules/app/OneDrive.list.new
              mv -f rules/app/OneDrive.list.new rules/app/OneDrive.list
              rm -f rules/app/OneDrive.2.list
            else
            echo "Failed to download or empty ios_rule_script-onedrive.list, exiting."
            fi
            rm -f rules/app/OneDrive.1.list
          else
            echo "Failed to download or empty ACL4SSR-onedrive.list, exiting."
          fi

      - name: Download Microsoft rules
        run: |
          if curl -f -s -o rules/app/Microsoft.list.new https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Microsoft/Microsoft.list && [[ -s rules/app/Microsoft.list.new ]]; then
            mv -f rules/app/Microsoft.list.new rules/app/Microsoft.list
          else
            echo "Failed to download or empty Microsoft.list, exiting."
          fi

      - name: Add changes to the repository
        run: |
          git add .
          git status

      - name: Commit and push changes
        run: |
          git commit -m "Special-rule-update" -a
          git push
